
 body {
   margin: 0 auto;
   font-family: 'Raleway', sans-serif;
   color: #000;
   background-color: #5fcf80;
   background-image: url('https://static.teamtreehouse.com/assets/views/landing_pages/green-illustration-bg-c581b2117435570bf3f91b6bdfdaf78a3365cc0846b97d8e2631b4ef206fa5c7.svg');
   text-align: center;
   margin-top: 0;
 }
